<app-header />

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="selectEventReceived($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (select)="selectEventReceived($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="selectEventReceived($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="selectEventReceived($event)" />
    </li>
    <li>
      <app-user [user]="users[4]" (select)="selectEventReceived($event)" />
    </li>
    <li>
      <app-user [user]="users[5]" (select)="selectEventReceived($event)" />
    </li>
  </ul>
  <app-tasks [name]="selectedUser.name" />
</main>
